<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Analyse de sentiment</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <div class="newsletter-subscribe">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Merci de nous donner votre avis</h2>
                </div>
                <form class="form-inline" method="post" action="{% url 'sentiment' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control"
                               type="text"
                               name="message"
                               autocomplete="off"
                               placeholder="Merci de nous donner votre avis" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            Transmettre
                        </button>
                    </div>
                </form>
                {% if success %}
                    <div class="card text-white bg-success mt-3"
                         style="max-width: 750px; margin: 0 23%;">
                        <div class="card-header">
                            Merci! Votre satisfaction nous aide à être encore meilleurs.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
